<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mi Sitio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a> <!-- la ruta viene desde app.js en su app.get -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a> <!-- la ruta viene desde app.js en su app.get -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/productos/dameFormulario">Productos</a> <!-- la ruta viene desde app.js en su app.get -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registro">Registro Users</a> <!-- la ruta viene desde app.js en su app.get -->
        </li>
      </ul>
    </div>
  </div>
</nav>
