*{
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium';
    background: linear-gradient(45deg, red, blue, black);
}
#titulo{
    background-color: rgb(222, 224, 96);
    width: 10%;
    height: 50px;
    border-radius: 20px;
    margin-left: 70px;
    box-shadow: 5px 7px grey;
}
h1{
    text-align: center;
    color: black;
    padding: 5px 0 0 0;
}
h2{
    text-align: center;
    color: black;
    text-shadow: 2px 2px red;
    text-decoration: underline;
    font-size: 28px;
    padding-top: 15px;
    letter-spacing: 1.5px;
}
h3{
    margin-left: 25px;
    color: whitesmoke;
    font-size: 22px;
}
section{
    background-color: #e11364;
    border-radius: 40px;
    padding-bottom: 25px;
}
.fondo{
    background: linear-gradient(45deg, green, pink);
    border: dotted 3px black;
    border-radius: 15px;
    width: 97%;
    margin: 25px;
    padding: 15px;
}
figure{
    display: flex;
    gap: 10px;
}
img{
    width: 50%;
    height: 100%;
    border: solid 3px red;
    border-radius: 10px;
    padding: 3px;
}
figure div p{
    margin: 25px 0 10px 0;
    line-height: 25px;
}
.boton{
    text-align: center;
    background-color: rgb(161, 79, 236);
    border-radius: 45px;
    width: 150px;
    height: 50px;
    color: black;
    padding: 10px;
    margin-left: 35px;
    font-size: 22px;
}
a{
    text-decoration: none;
}
a :hover{
    color: white;
    text-shadow: 2px 2px red;
}
footer{
    text-align: center;
    letter-spacing: 1px;
}
@media (max-width: 900px) {
    figure{
        flex-direction: column;
    }
    img{
        width: 100%;
    }
}