*{
    box-sizing: border-box;
}
body{
    background-color: fuchsia;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}
#titulo{
    width: 77%;
    background-color: white;
    margin: 0px 5% 0px 5%;
    padding: 0px 6px 0px 6px;
}
h1{
    width: 100%;
    height: 70px;
    background-color: rgb(163, 108, 117);
    font-size: 38px;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin-top: 15px;
}
section{
    width: 77%;
    background-color: rgb(163, 108, 117);
    margin: 10px 5% 0px 5%;
    padding: 8px 12px 15px 12px;
}
h2{
    color: white;
    font-size: 20px;
    margin-left: 5px;
}
.fondo{
    background-color: white;
    margin: 0px 5px 20px 5px;
    padding: 0px 6px 10px 6px;
    border-radius: 5px;
}
h3{
    color: brown;
    font-size: 18px;
    text-align: right;
    padding: 16px 5px 0px 0px;
    margin: 0px 8px 8px 8px;
    border-bottom: dotted 2px brown;
    width: auto;
}
figure{
    width: 100%;
    margin: 0px;
    text-align: center;
}
sup{
    vertical-align: super;
    font-size: 8px;
}
img{
    width: 100%;
    height: auto;
    padding: 0 6px 0 6px;
}
p{
    font-size: 11px;
    margin-left: 5px;
    text-align: left;
}
.boton{
    display: inline-block;
    background-color: green;
    border-radius: 3px;
    padding: 9px;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
a :hover{
    background-color: pink;
}
footer{
    width: 77%;
    height: 50px;
    color: white;
    margin: 15px 5% 10px 5%;
    padding-top: 10px;
    background-color: pink;
}
footer p{
    text-align: center;
}