*{
    box-sizing: border-box;
}
body{
    background-color: fuchsia;
}
nav{
    background-image: url(../img/flecha.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 65px;
}
a{
    text-decoration: none;
    color: white;
}
nav h1{
    font-family: Tahoma;
    font-size: 32px;
    margin: 10px 0 15px 55px;
}
section div h1{
    width: 753px;
    font-size: 4em;
    text-align: center;
    padding: 0 0 5px 0;
    color: red;
    margin: -22px 15px 10px 0px;
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: 5px;
}
#titulo{
    display: flex;
    justify-content: center;
}

.fondo{
    background-color: rgba(255, 228, 196, 0.8);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
}
