<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--ejemplo de plantillas handlebars con express. En este caso, se define una plantilla principal (main.hbs) que incluye un bloque de contenido dinámico ({{{body}}}). Luego, se pueden crear otras vistas que extiendan esta plantilla principal y llenen el bloque de contenido con información específica para cada vista. Esto permite reutilizar la estructura común de la página (como encabezados, pies de página, etc.) mientras se muestra contenido diferente en cada vista. Es una forma eficiente de organizar y mantener el código de las vistas en una aplicación web utilizando handlebars como motor de plantillas en express.-->
    {{{body}}} <!--este bloque de contenido dinámico se llenará con la información específica de cada vista que extienda esta plantilla principal. Es el lugar donde se renderizará el contenido específico de cada página, mientras que la estructura común (como encabezados, pies de página, etc.) se mantiene en la plantilla principal.-->
</body>
</html>