*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #77b3e8;
    background-color: white;
}
h1, h2{
    font-family: Verdana;
    font-weight: normal;
    letter-spacing: 0.5rem;
    color: #bb5397;
}
h1{
    text-align: center;
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
p{
    font-size: 0.8rem;
    line-height: 1.8;
}
header figure{
    text-align: center;
}
header figure img{
    width: 25%;
    height: auto;
}
section{
    margin-top: 5px;
    margin-bottom: 5px;
}
#uno{
    margin: 0;
}
#uno img{
    width: 450px;
    height: 248px;
    float: right;
    margin-left: 10px;
}
#dos{
    margin: 0;
}
#dos img{
    width: 450px;
    height: 250px;
    float: left;
    margin-right: 10px;
}
#tres{
    margin: 0;
}
#tres img{
    width: 450px;
    height: 253px;
    float: right;
    margin-left: 10px;
}
#cuatro{
    width: 100%;
    margin: 0;
}
#cuatro img{
    width: 100%;
    height: auto;
    margin: 0;
}
footer{
    color: red; 
    font-weight: bold; 
    font-family: Arial;
}